{#
/* COPYRIGHT
------------------------------------------------------------------  
  Portal for Drupal 8.x - Version 1.0                           
  Copyright (C) 2017 esors.com All Rights Reserved.           
  @license - Copyrighted Commercial Software                   
------------------------------------------------------------------  
  Theme Name: Portal News                                          
  Author: ESORS                                           
  Date: 5th January 2017                                        
  Website: http://www.esors.com/                              
------------------------------------------------------------------  
  This file may not be redistributed in whole or   
  significant part.                                            
----------------------------------------------------------------*/
#} 
{% set counter %}{{ fields['counter'].content }}{% endset %}

{% if '1' in counter|render %}
  {% set image %}{{ fields['field_image'].content|raw }}{% endset %}
  <div class="image-default">{{ fields['view_node'].content }}</div>
  <div class="content">
    {% if fields['field_category'].content %}
      <div class="category">{{ fields['field_category'].content }}</div>
    {% endif %}
    <h3>{{ fields['title'].content }}</h3>  
    <div class="meta">  
      <span class="author">{{ 'By'|t }} {{ fields['uid'].content }}</span>
      <span class="date float-right">{{ fields['created'].content }}</span>   
    </div>
  </div>
{% elseif '2' in counter|render %}
  {% set image %}{{ fields['field_image_1'].content|raw }}{% endset %}
  <div class="image-default">{{ fields['view_node'].content }}</div>
  <div class="content">
    {% if fields['field_category'].content %}
      <div class="category">{{ fields['field_category'].content }}</div>
    {% endif %}
    <h3>{{ fields['title'].content }}</h3>  
    <div class="meta">  
      <span class="author">{{ 'By'|t }} {{ fields['uid'].content }}</span>
      <span class="date float-right">{{ fields['created'].content }}</span>   
    </div>
  </div>
{% else %}
  {% set image %}{{ fields['field_image_2'].content|raw }}{% endset %}
  <div class="image-default">{{ fields['view_node'].content }}</div>
  <div class="content">
    {% if fields['field_category'].content %}
      <div class="category">{{ fields['field_category'].content }}</div>
    {% endif %}
    <h3>{{ fields['title'].content }}</h3>  
    <div class="meta">  
      <span class="author">{{ 'By'|t }} {{ fields['uid'].content }}</span>
      <span class="date float-right">{{ fields['created'].content }}</span>   
    </div>
  </div>
{% endif %}

